<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                        <div class="carousel-indicators">
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="https://www.indheal.com/Upload/HospitalImages/22/KIMS%20Trivandrum4.jpg" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="https://www.kimshealth.org/media/filer_public/18/2f/182ff5d7-b3b8-47f8-b93f-bc7ec2665cc7/untitled_design_3.jpg" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="https://healthcheckup.kimshealthcare.com/media/hospital/about_us_hospital_interior_pc.jpg" class="d-block w-100" alt="...">
                          </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <u><h2>About Us</h2></u>
                   <p> <b>KIMS HEALTH</b> is a quaternary care hospital network offering end-to-end healthcare services, right from primary to quaternary care in India and Middle-east. KIMSHEALTH has pioneered the quality revolution in the field of healthcare delivery in the country, making quality healthcare affordable and accessible to everyone. Due to our relentless and keen focus on quality healthcare delivery, KIMSHEALTH has been accredited by the National Accreditation Board for Hospitals (NABH) and the Australian Council on Healthcare Standards International (ACHSI) 2006, thus making it the first hospital in India with both National & International accreditations. In addition to this, the Blood Center is also accredited by NABH and the laboratory is NABL (National Accreditation Board for Testing and Calibration of Laboratories) accredited.</p>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <u><h2>Vision</h2></u>
                    “To be a leading healthcare organization of excellence that transforms lives through exceptional care”
                </div>
            </div>
        </div>
    </div>
</div>