<div class="container" >
    <div class="row">
    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
        <div class="row g-3">
            <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                <div class="card">
                    <img src="https://www.kimshealth.org/media/filer_public_thumbnails/filer_public/fd/39/fd391d1e-79e8-4767-bebd-19e2f6dafebe/img_8596.jpg__253x285_q85_crop_subsampling-2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"><i>Dr Bharath V M</i></h5>
                      <p class="card-text">Cancer Care</p>
                      
                    </div>
            </div>
            </div>
            <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                <div class="card">
                    <img src="https://www.kimshealth.org/media/filer_public_thumbnails/filer_public/0b/65/0b658939-745d-437f-ba60-e15da5954504/drranjitha.jpg__253x285_q85_crop_subsampling-2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"><i>Dr Rajitha L</i></h5>
                      <p class="card-text">Cancer Care</p>
                     
                    </div>
                  </div>
            </div>
            <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                <div class="card">
                    <img src="https://www.kimshealth.org/media/filer_public_thumbnails/filer_public/87/5a/875ab0e5-9cbb-4885-9daa-bec089925802/shali_s_nair.jpg__247x278_q85_crop_subsampling-2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"><i>Dr Shali S Nair</i></h5>
                      <p class="card-text"> Cancer Care</p>
                   
                    </div>
                  </div>
            </div>
            <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                <div class="card">
                    <img src="https://www.kimshealth.org/media/filer_public_thumbnails/filer_public/dd/16/dd16482d-ab0b-4edc-9f4a-a9ae4a4c9a5f/dr-hashir-kareem.png__247x278_q85_crop_subsampling-2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"><i>Dr Hashir Kareem</i></h5>
                      <p class="card-text">Cardiology</p>

                    </div>
                  </div>
            </div>
            <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                <div class="card">
                    <img src="https://www.kimshealth.org/media/filer_public_thumbnails/filer_public/b9/63/b963699b-5369-48ef-a29d-0c85d8616380/dr-padmaja.png__247x278_q85_crop_subsampling-2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"><i>Dr Padmaja N P</i></h5>
                      <p class="card-text">Cardiology</p>
                     
                    </div>
                  </div>
            </div>
            <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                <div class="card">
                    <img src="https://www.kimshealth.org/media/filer_public_thumbnails/filer_public/3a/a4/3aa42665-93f5-4f94-9abe-f87b85bd8514/dr-praveen.png__247x278_q85_crop_subsampling-2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"><i>Dr Praveen S V</i></h5>
                      <p class="card-text">Cardiology</p>
                     
                    </div>
                  </div>
            </div>
            <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                <div class="card">
                    <img src="https://www.kimshealth.org/media/filer_public_thumbnails/filer_public/4a/ef/4aefb47c-7a51-4ce8-821f-ef48a5aa4a8d/dr-amrita-b-rao.png__247x278_q85_crop_subsampling-2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"><i>Dr Amrita B Rao</i></h5>
                      <p class="card-text"> Cancer Care</p>
                     
                    </div>
                  </div>
            </div>
            <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                <div class="card">
                    <img src="https://www.kimshealth.org/media/filer_public_thumbnails/filer_public/20/94/209410c3-8cbd-4c2d-8efe-90ac94dd27aa/dr-subhash.png__247x278_q85_crop_subsampling-2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"><i>Dr S Subash</i></h5>
                      <p class="card-text">Anesthesiology, Cardiothoracic Surgery</p>
                     
                    </div>
                  </div>
            </div>
            <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                <div class="card">
                    <img src="https://www.kimshealth.org/media/filer_public_thumbnails/filer_public/d6/22/d622bc76-f528-4b21-8555-d4253543b3f6/dr-rajalekshmi.png__247x278_q85_crop_subsampling-2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"><i>Dr Rajalakshmi A</i></h5>
                      <p class="card-text">Infectious disease </p>
                      
                    </div>
                  </div>
            </div>
            <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                <div class="card">
                    <img src="https://www.kimshealth.org/media/filer_public_thumbnails/filer_public/7c/dd/7cddec5f-fa8e-4385-8711-3dbfadaf72d3/unnamed_1.jpg__247x278_q85_crop_subsampling-2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"><i>Dr Mohamed Sanofwar</i></h5>
                      <p class="card-text"> Internal Medicine</p>
                      
                    </div>
                  </div>
            </div>
        </div>
    </div>
    </div>